/* How to comment in css */

/* Style the body */
body {
    background-color: white;
    overflow-x: hidden;
    margin: 0px;
    font-family: 'Times New Roman', monospace;
    /* display: flex;
    justify-content: space-between; */
}

/* Style the header */
.header {
    background-color: rgb(29, 58, 131); /* Set background color of the header to the CUNY blue */
    text-align: center;
    color: white;
    padding: 1px;
}

.header table {
    width: 100%;
    /* padding: top right bottom left */
    /* padding: 5px 10px 5px 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.header th#left {
    font-size: 30px;
}

.header th#mid {
    font-size: 40px;
}

.header th#right {
    font-size: 30px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    /* clear: both; */
    /* padding: 0% 40% 0% 40%; */
    /* margin: top right bottom left */
    /* margin: 0px -10px 0px -10px; */
    text-align: center;
    color: rgb(110, 145, 177);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.topnav #links {
    width: 100%;
    background-color: white;
    color: rgb(29, 58, 131);
    font-size: 14px;
}

.topnav #links tr {
    background-color: #cac9c9;
}

.topnav #studentInfo {
    /* table-layout: fixed; */
    width: 100%;
    background-color: white;
    color: #696969;
    font-size: 14px;
    border-bottom: 1px solid black;
    text-align: center;
    /* padding: top right bottom left */
    padding: 0px 10px 0px 10px;
}

/* Stack Overflow code to center numbers
https://stackoverflow.com/questions/23715881/center-text-in-html-number-input */
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    display: none;
}

.topnav input {
    text-align: center;
}

.topnav input#id {
    width: 75px;
}

.topnav input#name {
    width: 150px;
}

.topnav input#degree {
    width: 20px;
}

.topnav input#major {
    width: 150px;
}

.topnav input#school {
    width: 10px;
}

.topnav input#year {
    width: 70px;
}

/* Stack Overflow code to center date
https://stackoverflow.com/questions/46635238/center-date-in-input-field-with-date-type */
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

.topnav input#audit {
    width: 100px;
}

/* Style the main page */
.main {
    transition: margin-right .5s;
    /* padding: 16px; */
    overflow: hidden;
    /* clear: both; */
    background-color: white;
    padding: 0px 16px 0px 16px;
    /* margin: top right bottom left */
    /* margin: 0px -10px 0px -10px; */
    /* text-align: center; */
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0px;
    z-index: 0;
}

.main h1 {
    text-align: center;
    /* top: -5px; */
    font-size: 25px;
    color: rgb(110, 145, 177);
}

.label {
    font-weight: bold;
    color: rgb(117, 117, 117);
}

#legend {
    border-collapse: collapse;
    width: 100%;
}

#legend th {
    border-top: 1px solid rgb(110, 145, 177);
    border-bottom: 1px solid rgb(110, 145, 177);
    /* border: 1px solid black; */
    text-align: left;
    /* width: 100%; */
    /* padding: top right bottom left */
    padding: 5px 10px 5px 10px;
    color: rgb(110, 145, 177);
}

#legend td#img {
    text-align: right;
    padding-right: 0px;
    color: blue;
}

#legend td {
    background-color: rgba(172, 195, 214, 0.336);
    /* padding: top right bottom left */
    padding: 5px 10px 5px 5px;
    font-size: 15px;
}

#studentView {
    /* border-width: 20px;
    border-color: red; */
    width: 100%;
    /* border: 1px solid black; */
}

#studentView td {
    /* padding: top right bottom left */
    padding: 2px 10px 2px 10px;
    border: 1px solid white;
    font-size: 15px;
}

#studentView td.label {
    background-color: #9fd6fab9;
    width: 15%;
}

#studentView td#obj {
    background-color: #f1f0f0bd;
}

#studentView th {
    background-color: rgb(91, 120, 145);
    color: white;
    text-align: left;
    /* padding: top right bottom left */
    padding: 5px 10px 5px 10px;
    /* width: 100%; */
    /* table-layout: fixed; */
}

#reqs {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 3px;
}

#reqs th {
    background-color: rgb(91, 120, 145);
    color: white;
    text-align: left;
    /* padding: top right bottom left */
    padding: 10px 10px 10px 10px;
    /* width: 100%; */
    /* table-layout: fixed; */
}

#reqs td {
    background-color: rgba(172, 195, 214, 0.336);
    color: rgb(117, 117, 117);
    text-align: left;
    /* padding: top right bottom left */
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    /* font-weight: bold; */
    /* width: 100%; */
    /* table-layout: fixed; */
    /* border-collapse: collapse; */
}

#reqs td#unmet {
    white-space: nowrap;
}

#reqs td#stillNeeded {
    color: red;
    white-space: nowrap;
    padding-right: 0px;
}

#reqs td#notes {
    /* padding: top right bottom left */
    padding: 5px 20px 5px 10px;
    background-color: #81b6da75;
    border-left: 10px solid #81b6dade;
}

#reqs td#underSub {
    padding-left: 20px;
}

/* Style the drop down menu courtsey of Hammad */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    margin-right: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

/* Collapseable Sidebar courtsey of W3Schools */
.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    /* position: -webkit-sticky; */
    right: 0px;
    z-index: 1;
    /* top: 0px; */
    background-color: rgb(110, 145, 177);
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
    /* margin: top right bottom left */
    /* margin: 0px -10px 0px 0px; */
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

div#thirty {
    font-size: 12px;
    color: black;
}

/* Style the footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(110, 145, 177);
    /* padding: top right bottom left */
    padding: 10px 10px 10px 10px;
    /* margin: top right bottom left */
    /* margin: -5px 0px -5px 0px; */
    text-align: center;
    color: white;
    font-size: 15px;
    /* text-decoration: overline; */
}
